<div class="top-head">
	<div class="container text-right">
		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="#">Buyer Protection</a>
			</li>
			<li class="list-inline-item">
				<a href="#">Help</a>
			</li>
			<li class="list-inline-item">
				<a href="#">Save big on our app!</a>
			</li>
			<li class="list-inline-item">
				<a href="#">Ship to / USD</a>
			</li>
			<li class="list-inline-item">
				<a href="#">Language</a>
			</li>
		</ul>
	</div>
</div>
<div class="header">
	<div class="container d-flex flex-row">
		<div class="site_logo">
			<a href="#">
				<span class="logo"></span>
			</a>
		</div>
		<div class="site_search">
			<form class="form-inline">
				<div class="input-group mb-2 mr-sm-2 mb-sm-0">
					<input type="text" class="form-control search" id="inlineFormInputGroup" placeholder="Username">
					<div class="input-group-addon">Search</div>
				</div>
			</form>
		</div>
		<ul class="list-inline">
			<li class="list-inline-item">Cart</li>
			<li class="list-inline-item">Wish List</li>
			<li class="list-inline-item">
				<a href="#">Sign in</a>
				<a href="#">Join</a>
				<p>My Ajigalo</p>
			</li>
		</ul>
	</div>
</div>

<div class="site_promo">
	<div class="container">
		<div class="d-flex flex-row">
			<div class="cate">
				<h6>Categories
					<a href="#">See all</a>
				</h6>
				<div class="list-group">
					<a href="#" class="list-group-item list-group-item-action active">
						Cras justo odio
					</a>
					<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
					<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
					<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
					<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
				</div>
			</div>
			<div class="banner-slider">
				<!-- Swiper -->
				<swiper [config]="config" [(index)]="index">
					<div *ngFor="let slide of slides" class="swiper-slide">
						<div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
							<img src="../assets/images/{{slide}}" alt="{{slide}}" width="100%;">
						</div>
					</div>
				</swiper>
			</div>
		</div>
		<!-- <div>
			<a href="#"><img src="../assets/images/banner-under.jpg" alt=""></a>
		</div> -->
	</div>
</div>